<div class="row">
    <div class="span3">
        <div class="row">

                    <div class="span2">
                        <a href="../hand/">Demande d'aide en cour</a>
                     </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../hand/ask/">Demander de l'aide</a>
                </div>
        </div>

        <div class="row">
                <div class="span2">
                    <a href="../jack/edit/">Modifier sa fiche</a>
                </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../place/add/">Rajouter un lieu</a>
                </div>
        </div>



        <div class="row">
                <div class="span2">
                    <a href="../place/view/">Voir un lieu</a>
                </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../place/edit/">Editer un de vos lieu</a>
                </div>
        </div>



        <div class="row">
                <div class="span2">
                    <a href="../event/add/">Rajouter un event</a>
                </div>
        </div>



        <div class="row">
                <div class="span2">
                    <a href="../event/view/">Voir un event</a>
                </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../event/edit/">Editer un de vos events </a>
                </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../mp/0/">Envoyer un mp a quelqu un (id)</a>
                </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../mp/0/">Consultez vos Mp</a>
                </div>
        </div>


        <div class="row">
                <div class="span2">
                    <a href="../mp/0/">Mp Envoyes</a>
                </div>
        </div>



        <div class="row">
                <div class="span2">
                    Votre Fiche : {{ profile.pseudo }}
                </div>
        </div>


         <div class="row">
                <div class="span2">
                    Votre Id pour les MP : {{ user.id }}
                </div>
        </div>


    </div>
</div>
                
           
